* {
  margin: 0;
  padding: 0;
}

.createnewreports-section {
}

.createnewreports-section .header-part {
  width: 1011.42px;
  height: 68.17px;
  position: absolute;
  left: 215.58px;
  top: 0px;
  position: relative;
}
.createnewreports-section .header-part .header-name {
  position: absolute;
  right: 791.38px;
  top: 20px;
  font-size: 20.45px;
  font-weight: 700;
  line-height: 28.97px;
  color: #171717;
}
.createnewreports-section .header-part .header-clock {
  position: absolute;
  left: 648.42px;
  top: 17px;
  width: 34.08px;
  height: 34.08px;
}
.createnewreports-section .header-part .header-time {
  position: absolute;
  left: 691.42px;
  top: 26px;
  font-size: 14px;
  font-weight: 300;
  line-height: 16.41px;
  opacity: 60%;
  color: #000000;
}
.createnewreports-section .header-part .header-icon-one {
  position: absolute;
  top: 17px;
  left: 863.59px;
  width: 34.08px;
  height: 34.08px;
}
.createnewreports-section .header-part .header-icon-two {
  position: absolute;
  top: 17px;
  left: 910.45px;
  width: 34.08px;
  height: 34.08px;
}
.createnewreports-section .header-part .header-icon-profile {
  position: absolute;
  top: 17px;
  left: 957.32px;
  width: 34.08px;
  height: 34.08px;
}

.createnewreports-section .body-part {
  width: 980px;
  height: 1922px;
  position: absolute;
  left: 238px;
  top: 90px;
  display: flex;
  background-color: #e5eaff;
}
.createnewreports-section .body-part .body-part-left {
  display: flex;
  flex-direction: column;
}
.createnewreports-section .body-part .body-part-left .section-one {
  width: 445px;
  height: 265px;
  position: absolute;
  top: 33px;
  left: 32px;
  border-radius: 10px;
  border-color: #e7e7e7;
  background-color: white;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.createnewreports-section
  .body-part
  .body-part-left
  .section-one
  .section-header {
  color: #a1a1aa;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  border-radius: 10px;
  padding-top: 20px;
  padding-left: 56px;
  padding-bottom: 20px;
  background-color: #eeeeee;
}

.createnewreports-section
  .body-part
  .body-part-left
  .section-one
  .section-body {
  background-color: white;
}

.createnewreports-section
  .body-part
  .body-part-left
  .section-one
  .section-body
  .form-part {
  width: 322px;
  height: 144px;
  position: absolute;
  top: 81px;
  left: 62px;
  /* display: flex;
  flex-direction: column; */
}

.createnewreports-section
  .body-part
  .body-part-left
  .section-one
  .section-body
  .form-part
  div {
  position: absolute;
  left: 0px;
  display: flex;
}

.createnewreports-section
  .body-part
  .body-part-left
  .section-one
  .section-body
  .form-part
  div
  label {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-right: 14px;
}

.createnewreports-section
  .body-part
  .body-part-left
  .section-one
  .section-body
  .form-part
  div
  input {
  width: 102px;
  height: 28px;
  border-radius: 10px;
  text-align: center;
  /* border-color: #bbbbbb; */
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-right: 6px;
}

.createnewreports-section
  .body-part
  .body-part-left
  .section-one
  .section-body
  .form-part
  div
  p {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
}

.createnewreports-section .body-part .body-part-left .section-two {
  width: 456px;
  height: 386px;
  position: absolute;
  top: 332px;
  left: 21px;
  border-radius: 10px;
  border: 0px solid #e7e7e7;
  background-color: white;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.createnewreports-section
  .body-part
  .body-part-left
  .section-two
  .section-header {
  color: #a1a1aa;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  border-radius: 10px;
  align-items: center;
  padding-top: 20px;
  padding-left: 56px;
  padding-bottom: 20px;
  background-color: #eeeeee;
}

.createnewreports-section
  .body-part
  .body-part-left
  .section-two
  .section-body
  .form-part {
  position: absolute;
  top: 81px;
  left: 62px;
  display: flex;
  flex-direction: column;
}
.createnewreports-section
  .body-part
  .body-part-left
  .section-two
  .section-body
  .form-part
  div {
  width: 322px;
  height: 28px;
  position: absolute;
  left: 0px;
  display: flex;
}

.createnewreports-section
  .body-part
  .body-part-left
  .section-two
  .section-body
  .form-part
  div
  label {
  width: 145px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.createnewreports-section
  .body-part
  .body-part-left
  .section-two
  .section-body
  .form-part
  div
  input {
  width: 177px;
  height: 28px;
  border-radius: 10px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-right: 6px;
  /* position: absolute;
  left: 212px; */
}

.createnewreports-section
  .body-part
  .body-part-left
  .section-two
  .section-body
  .form-part
  div
  select {
  width: 177px;
  height: 28px;
  border-radius: 10px;
  border-color: #bbbbbb;
  padding-left: 19px;
  color: rgba(0, 0, 0, 50%);
}

.createnewreports-section
  .body-part
  .body-part-left
  .section-two
  .section-footer {
  color: #a1a1aa;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  border-radius: 10px;
  align-items: center;
  padding-top: 20px;
  padding-left: 56px;
  padding-bottom: 20px;
  background-color: #eeeeee;
  position: absolute;
  bottom: 21px;
  left: 56px;
}
.createnewreports-section .body-part .body-part-left .section-three {
  width: 456px;
  height: 329px;
  position: absolute;
  top: 752px;
  left: 21px;
  border-radius: 10px;
  border: 0px solid #e7e7e7;
  background-color: white;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.createnewreports-section
  .body-part
  .body-part-left
  .section-three
  .section-header {
  color: #a1a1aa;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  border-radius: 10px;
  align-items: center;
  padding-top: 20px;
  padding-left: 56px;
  padding-bottom: 20px;
  background-color: #eeeeee;
}

.createnewreports-section
  .body-part
  .body-part-left
  .section-three
  .section-body
  .form-part {
  position: absolute;
  top: 81px;
  left: 62px;
  display: flex;
  flex-direction: column;
}

.createnewreports-section
  .body-part
  .body-part-left
  .section-three
  .section-body
  .form-part
  div {
  position: absolute;
  left: 0px;
  display: flex;
}

.createnewreports-section
  .body-part
  .body-part-left
  .section-three
  .section-body
  .form-part
  div
  label {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  /* margin-right: 14px; */
}

.createnewreports-section
  .body-part
  .body-part-left
  .section-three
  .section-body
  .form-part
  div
  input {
  width: 149px;
  height: 40px;
  border-radius: 10px;
  text-align: center;
  border-color: #bbbbbb;
  margin-right: 6px;
}

.createnewreports-section .body-part .body-part-left .section-four {
  width: 456px;
  height: 379px;
  position: absolute;
  top: 1115px;
  left: 21px;
  border-radius: 10px;
  border: 0px solid #e7e7e7;
  background-color: white;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.createnewreports-section
  .body-part
  .body-part-left
  .section-four
  .section-header {
  color: #a1a1aa;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  border-radius: 10px;
  align-items: center;
  padding-top: 20px;
  padding-left: 56px;
  padding-bottom: 20px;
  background-color: #eeeeee;
}

.createnewreports-section
  .body-part
  .body-part-left
  .section-four
  .section-body
  .form-part {
  width: 322px;
  height: 220px;
  position: absolute;
  top: 81px;
  left: 62px;
  display: flex;
  flex-direction: column;
}

.createnewreports-section
  .body-part
  .body-part-left
  .section-four
  .section-body
  .form-part
  div {
  position: absolute;
  left: 0px;
  top: 0px;
  display: flex;
}

.createnewreports-section
  .body-part
  .body-part-left
  .section-four
  .section-body
  .form-part
  div
  label {
  width: 145px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.createnewreports-section
  .body-part
  .body-part-left
  .section-four
  .section-body
  .form-part
  div
  input {
  width: 177px;
  height: 28px;
  border-radius: 10px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-right: 6px;
}

.createnewreports-section .body-part .body-part-left .section-five {
  width: 456px;
  height: 266px;
  position: absolute;
  top: 1528px;
  left: 21px;
  border-radius: 10px;
  border: 0px solid #e7e7e7;
  background-color: white;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.createnewreports-section
  .body-part
  .body-part-left
  .section-five
  .section-header {
  color: #a1a1aa;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  border-radius: 10px;
  align-items: center;
  padding-top: 20px;
  padding-left: 56px;
  padding-bottom: 20px;
  background-color: #eeeeee;
}

.createnewreports-section
  .body-part
  .body-part-left
  .section-five
  .section-body
  .form-part {
  width: 322px;
  height: 172px;
  position: absolute;
  top: 74px;
  left: 62px;
}

.createnewreports-section
  .body-part
  .body-part-left
  .section-five
  .section-body
  .form-part
  div {
  width: 322px;
  height: 28px;
  position: absolute;
  left: 0px;
  top: 0px;
  display: flex;
}

.createnewreports-section
  .body-part
  .body-part-left
  .section-five
  .section-body
  .form-part
  div
  label {
  width: 143px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-right: 14px;
}

.createnewreports-section
  .body-part
  .body-part-left
  .section-five
  .section-body
  .form-part
  div
  select {
  width: 177px;
  height: 28px;
  border-radius: 10px;
  border-color: #bbbbbb;
  padding-left: 19px;
  color: rgba(0, 0, 0, 50%);
}

.createnewreports-section .body-part .body-part-right {
  display: flex;
  flex-direction: column;
}

.createnewreports-section .body-part .body-part-right .section-six {
  width: 456px;
  height: 685px;
  position: absolute;
  top: 33px;
  left: 497px;
  border-radius: 10px;
  border: 0px solid #e7e7e7;
  background-color: white;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.createnewreports-section
  .body-part
  .body-part-right
  .section-six
  .section-header {
  color: #a1a1aa;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  border-radius: 10px;
  align-items: center;
  padding-top: 20px;
  padding-left: 56px;
  padding-bottom: 20px;
  background-color: #eeeeee;
}

.createnewreports-section
  .body-part
  .body-part-right
  .section-six
  .section-body {
  background-color: white;
}

.createnewreports-section
  .body-part
  .body-part-right
  .section-six
  .section-body
  .form-part {
  width: 322px;
  height: 576px;
  position: absolute;
  top: 89px;
  left: 62px;
}

.createnewreports-section
  .body-part
  .body-part-right
  .section-six
  .section-body
  .form-part
  div {
  /* width: 322px;
  height: 28px; */
  position: absolute;
  left: 0px;
  top: 0px;
  display: flex;
}

.createnewreports-section
  .body-part
  .body-part-right
  .section-six
  .section-body
  .form-part
  div
  label {
  width: 145px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-right: 14px;
}

.createnewreports-section
  .body-part
  .body-part-right
  .section-six
  .section-body
  .form-part
  div
  input {
  width: 177px;
  height: 28px;
  border-radius: 10px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  /* margin-right: 6px; */
}

.createnewreports-section
  .body-part
  .body-part-right
  .section-six
  .section-body
  .form-part
  div
  select {
  width: 177px;
  height: 28px;
  border-radius: 10px;
  border-color: #bbbbbb;
  padding-left: 19px;
  color: rgba(0, 0, 0, 50%);
}

.createnewreports-section
  .body-part
  .body-part-right
  .section-six
  .section-body
  .form-part
  div
  textarea {
  width: 177px;
  height: 96px;
  border-radius: 10px;
  border-color: #bbbbbb;
  color: rgba(0, 0, 0, 50%);
}

.createnewreports-section .body-part .body-part-right .section-seven {
  width: 456px;
  height: 329px;
  position: absolute;
  top: 752px;
  left: 497px;
  border-radius: 10px;
  border: 0px solid #e7e7e7;
  background-color: white;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.createnewreports-section
  .body-part
  .body-part-right
  .section-seven
  .section-header {
  color: #a1a1aa;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  border-radius: 10px;
  align-items: center;
  padding-top: 20px;
  padding-left: 56px;
  padding-bottom: 20px;
  background-color: #eeeeee;
}

.createnewreports-section
  .body-part
  .body-part-right
  .section-seven
  .section-body
  .form-part {
  width: 311px;
  height: 174px;
  position: absolute;
  top: 81px;
  left: 62px;
  display: flex;
  flex-direction: column;
}

.createnewreports-section
  .body-part
  .body-part-right
  .section-seven
  .section-body
  .form-part
  div {
  position: absolute;
  left: 0px;
  display: flex;
}

.createnewreports-section
  .body-part
  .body-part-right
  .section-seven
  .section-body
  .form-part
  div
  label {
  width: 145px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.createnewreports-section
  .body-part
  .body-part-right
  .section-seven
  .section-body
  .form-part
  div
  input {
  width: 177px;
  height: 28px;
  border-radius: 10px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.createnewreports-section .body-part .body-part-right .section-eight {
  width: 456px;
  height: 229px;
  position: absolute;
  top: 1115px;
  left: 497px;
  border-radius: 10px;
  border: 0px solid #e7e7e7;
  background-color: white;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.createnewreports-section
  .body-part
  .body-part-right
  .section-eight
  .section-header {
  color: #a1a1aa;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  border-radius: 10px;
  align-items: center;
  padding-top: 20px;
  padding-left: 56px;
  padding-bottom: 20px;
  background-color: #eeeeee;
}

.createnewreports-section
  .body-part
  .body-part-right
  .section-eight
  .section-body
  .form-part {
  width: 322px;
  height: 124px;
  position: absolute;
  top: 81px;
  left: 62px;
  display: flex;
  flex-direction: column;
}

.createnewreports-section
  .body-part
  .body-part-right
  .section-eight
  .section-body
  .form-part
  div {
  position: absolute;
  left: 0px;
  display: flex;
}

.createnewreports-section
  .body-part
  .body-part-right
  .section-eight
  .section-body
  .form-part
  div
  label {
  width: 145px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.createnewreports-section
  .body-part
  .body-part-right
  .section-eight
  .section-body
  .form-part
  div
  select {
  width: 177px;
  height: 28px;
  border-radius: 10px;
  border-color: #bbbbbb;
  padding-left: 19px;
  color: rgba(0, 0, 0, 50%);
}

.createnewreports-section .body-part .body-part-right .section-nine {
  width: 456px;
  height: 229px;
  position: absolute;
  top: 1378px;
  left: 497px;
  border-radius: 10px;
  border: 0px solid #e7e7e7;
  background-color: white;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.createnewreports-section
  .body-part
  .body-part-right
  .section-nine
  .section-header {
  color: #a1a1aa;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  border-radius: 10px;
  align-items: center;
  padding-top: 20px;
  padding-left: 56px;
  padding-bottom: 20px;
  background-color: #eeeeee;
}

.createnewreports-section
  .body-part
  .body-part-right
  .section-nine
  .section-body
  .form-part {
  width: 322px;
  height: 124px;
  position: absolute;
  top: 81px;
  left: 62px;
  display: flex;
  flex-direction: column;
}

.createnewreports-section
  .body-part
  .body-part-right
  .section-nine
  .section-body
  .form-part
  div {
  position: absolute;
  left: 0px;
  display: flex;
}

.createnewreports-section
  .body-part
  .body-part-right
  .section-nine
  .section-body
  .form-part
  div
  label {
  width: 145px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.createnewreports-section
  .body-part
  .body-part-right
  .section-nine
  .section-body
  .form-part
  div
  select {
  width: 177px;
  height: 28px;
  border-radius: 10px;
  border-color: #bbbbbb;
  padding-left: 19px;
  color: rgba(0, 0, 0, 50%);
}

.createnewreports-section .body-part .body-part-right .section-ten {
  width: 456px;
  height: 229px;
  position: absolute;
  top: 1641px;
  left: 497px;
  border-radius: 10px;
  border: 0px solid #e7e7e7;
  background-color: white;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.createnewreports-section
  .body-part
  .body-part-right
  .section-ten
  .section-header {
  color: #a1a1aa;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  border-radius: 10px;
  align-items: center;
  padding-top: 20px;
  padding-left: 56px;
  padding-bottom: 20px;
  background-color: #eeeeee;
}

.createnewreports-section
  .body-part
  .body-part-right
  .section-ten
  .section-body
  .form-part {
  width: 328px;
  height: 124px;
  position: absolute;
  top: 81px;
  left: 62px;
  display: flex;
  flex-direction: column;
}

.createnewreports-section
  .body-part
  .body-part-right
  .section-ten
  .section-body
  .form-part
  div {
  position: absolute;
  left: 0px;
  display: flex;
}

.createnewreports-section
  .body-part
  .body-part-right
  .section-ten
  .section-body
  .form-part
  div
  label {
  width: 145px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.createnewreports-section
  .body-part
  .body-part-right
  .section-ten
  .section-body
  .form-part
  div
  input {
  width: 177px;
  height: 28px;
  border-radius: 10px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
