.pad12 {
  padding: 22px 0px 22px 12px !important;
}

.wid15 {
  width: 15%;
}

.pad-left-right0 {
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 10px !important;
  padding-bottom: 0px !important;
}

.width20 {
  width: 20%;
  padding-left: 0px !important;
}

.pad-left15 {
  padding-left: 15px !important;
}

.height400 {
  min-height: 400px !important;
}

.pad0 {
  padding-top: 30px !important;
  padding-bottom: 0px !important;
  padding-right: 5px !important;
  padding-left: 5px !important;
}

.pad-left-right10 {
  padding-left: 42px !important;
  padding-right: 42px !important;
}

.marg-bot21 {
  margin-bottom: -45px !important;
  z-index: 3;
}

.space-around {
  justify-content: space-around !important;
}

.extrapages-section .body-part .help-section {
  margin: 10px;
  background-color: white;
  height: -moz-fit-content;
  width: 30%;
  padding: 8px;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 12.7812px 42.6042px rgba(160, 163, 189, 0.1);
  border-radius: 8.52083px;
  display: flex;
  justify-content: space-around;
}

.extrapages-section .body-part .help-section button {
  background: #fb8200;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
  border-radius: 9px;
  border: 0px;
  width: 165px;
  height: 54px;
}

.extrapages-section .body-part .help-section button h4 {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  color: #ffffff;
}

.extrapages-section .body-part .help-section h3 {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  color: rgba(0, 0, 0, 0.5);
}

.pad-bot20 {
  padding-bottom: 20px;
}

.modal-agent {
  padding: 0px !important;
}
.modal-body {
  padding: 0px !important;
}
.modal-form {
  padding: 20px;
}
.form {
  display: flex;
  /* flex-wrap: nowrap; */
  flex-wrap: wrap;
}
.form div {
  margin-right: 20px;
  margin-bottom: 20px;
}
.form div input {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-left: 10px;
  padding: 5px 10px;
}
.form .form-buttons {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
.form .form-buttons button {
  width: 100px;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  background-color: #c5c4c4;
  margin: 5px;
}

.ReactModalPortal .form label {
  min-width: 100px;
}

.contracts-page .body-part .body-part-two .part-two-content .body .body-row {
  display: flex;
  width: 100%;
  padding-left: 15px;
  margin-bottom: 20px;
  font-size: 14px;
}

.contracts-page
  .body-part
  .body-part-two
  .part-two-content
  .body
  .body-row
  .cell-8
  p {
  font-weight: 500;
  cursor: pointer;
}

.contracts-page .body-part .body-part-two .part-two-content .body .cell-1 {
  width: 20%;
}

.contracts-page .body-part .body-part-two .part-two-content .body .cell-2,
.contracts-page .body-part .body-part-two .part-two-content .body .cell-3,
.contracts-page .body-part .body-part-two .part-two-content .body .cell-4 {
  width: 30%;
}

.contracts-page .body-part .body-part-two .part-two-content .body .cell-5,
.contracts-page .body-part .body-part-two .part-two-content .body .cell-6,
.contracts-page .body-part .body-part-two .part-two-content .body .cell-7,
.contracts-page .body-part .body-part-two .part-two-content .body .cell-8 {
  width: 25%;
}

.contracts-page .body-part .body-part-two.pad0 {
  padding-bottom: 10px !important;
}
