/* .welcome-video{
    height: 363px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 250px;
    clip: auto;
    display: block;
    border-width: 0px 198px;
    border-style: solid;
    border-color: transparent;
    box-sizing: content-box;
} */

.border-top{
    border-top: 1px solid black !important;
}

.total-amount-content{
    width: 50%;
    margin-left: 25%;
}

.vid100{
    width: 50%;
    margin-left: 25%;
}


.top-content{

}

.access-button{
    width: 100%;
    margin-left: -5%;
}



@media only screen and (min-width: 0px) and (max-width: 770px){

    .total-amount-content {
        width: 100%;
        margin-left: 0%;
        /* line-height: 4em; */
    }
    .access-button{
        margin-left: -10%;
    }
    .top-content{
        /* margin-top: ; */
    }

    .right-align{
        text-align: end;
    }

    .vid100{
        width: 94%;
        margin-left: 4%;
    }
}