.body-part .part-one-left .select-list{
    background: #F5F5FA !important;
    box-shadow: inset -2px -2px 4px rgb(255 255 255 / 50%), inset 2px 2px 4px rgb(170 170 204 / 25%), inset 5px 5px 10px rgb(170 170 204 / 50%), inset -5px -5px 10px #ffffff !important;
    border-radius: 40px !important;
    width: 229px !important;
    height: 52px !important;
    padding-left: 0px !important;
    border: none !important;
    color: rgba(0, 0, 0, 50%);
    text-align: center;
    margin-left: 5px;
}